@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");

body {
  background-color: hsl(216, 12%, 8%);
  font-family: "Overpass", sans-serif;
}

.star {
  background-color: #262e38;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin: 32px;
}

.star img {
  position: relative;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.rating-component {
  background: radial-gradient(
    98.96% 98.96% at 50% 0%,
    #232a34 0%,
    #181e27 100%
  );
  width: 412px;
  height: 416px;
  border-radius: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.heading {
  color: #ffffff;
  margin: 0 32px;
  font-weight: 700;
  font-size: 28px;
  line-height: 35.45px;
}

form {
  margin: 0 32px;
}

.page-p {
  font-weight: 400;
  color: #969fad;
  font-size: 15px;
  line-height: 24px;
}

.submit-btn {
  position: absolute;
  left: 7.77%;
  right: 9.47%;
  top: 81.49%;
  bottom: 7.69%;
  background-color: hsl(25, 97%, 53%);
  border: none;
  border-radius: 22.5px;
  font-size: 15px;
  color: #ffffff;
  line-height: 18.99px;
  letter-spacing: 2px;
  font-weight: 700;
}

.submit-btn:hover {
  background-color: hsl(0, 0%, 100%);
  color: hsl(25, 97%, 53%);
}

.radio-btn {
  background-color: #262e38;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  appearance: none;
}

label {
  color: #7c8798;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2px;
  position: relative;
  right: 47%;
  top: -17px;
}

.radio-buttons {
  display: flex;
  justify-content: space-between;
}
.radio-btn:hover {
  background-color: hsl(25, 97%, 53%);
}

.radio-btn:hover + label,
.radio-btn:checked + label {
  color: hsl(0, 0%, 100%);
}

.radio-btn:checked {
  background-color: #7c8798;
}

@media (max-width: 375px) {
  .star {
    width: 40px;
    height: 40px;
    margin: 24px;
  }

  .star img {
    width: 13.96px;
    height: 13.33px;
  }

  .heading {
    font-size: 24px;
    line-height: 30.38px;
    margin: 0 24px;
  }

  .rating-component {
    width: 327px;
    height: 360px;
    border-radius: 15px;
  }

  form {
    margin: 0 24px;
  }

  .page-p {
    font-size: 14px;
    line-height: 22px;
  }

  .radio-btn {
    width: 40px;
    height: 40px;
  }

  label {
    right: -37%;
    top: -35px;
  }

  .submit-btn {
    font-size: 14px;
    line-height: 17.72px;
    letter-spacing: 1.87px;
  }
}
